.main::before {
  content: "";
  background-image: url("../../images//Rectangle\ 1.png");

  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
.BlackLayer {
  background-color: #0000008e;
  width: 100%;
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  position: absolute;
}
